@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body { background: #f8f9fa !important; color: #333; font-size: 14px; line-height: 1.8; font-family: 'Roboto', sans-serif; }
ul, li { padding: 0px; margin: 0px; }
.flex-row { display: flex; }
.align-items-center { align-items: center; }
.justify-content-between { justify-content: space-between; }
body.aside-menu-hidden .main { margin: 64px 0px 0px; }
body.aside-menu-hidden .aside { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }

.top-navheader { position: fixed; top: 0px; left: 0px; right: 0px; z-index: 2; }

/* LOGIN REGISTER COMPONENT */
.app-login-register-container { width: 400px; margin: 40px auto; padding: 30px; background: #fff; box-shadow: 0 1px 4px 0 rgba(0,0,0,.15); }
.app-login-register-container a { color: #3f51b5; }
.app-login-register-container h3 { font-size: 24px; text-transform: uppercase; text-align: center; margin-bottom: 15px; }
/* END LOGIN REGISTER COMPONENT */
/* MAIN NAVIGATION */
.bg-purple { background: #3f51b5; }
.nav-toggle { margin-right: 15px; }
.navbar-nav .nav-link { color: #fff; }
.navbar-nav .nav-link i { margin-top: 2px; }
.user-avatar { width: 30px; border-radius: 50%; }
/* MAIN NAVIGATION */
/* ASIDE NAVIGATION */
.aside { position: fixed; width: 260px; top: 0; left: 0; bottom: 0; z-index: 1; -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: #fff; -webkit-transform: translateX(0%); -moz-transform: translateX(0%); -ms-transform: translateX(0%); -o-transform: translateX(0%); transform: translateX(0%); -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.aside .aside-inner { position: fixed; top: 0; bottom: 0; padding-top: 64px; height: 100%; width: 260px; overflow: hidden; -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); }
.aside .aside-inner .sidebar {
    height: 100%;
    padding-bottom: 20px;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-right: -17px;
    overflow-y: scroll;
}
.aside .aside-inner .sidebar ul li { list-style: none;font-weight: 600 }
.aside .aside-inner .sidebar ul li a { color: #333; padding: 12px 15px; }
.aside .aside-inner .sidebar ul li a:hover { background: #eef0f1; }
.nav-title { padding: 10px 15px; font-weight: 500; text-transform: uppercase; font-size: 13px; }

.nav-dropdown ul { display: none; }
.nav-dropdown.open ul { display: block; }
.nav-dropdown.open a { background: #f8f9fa; }
.nav-dropdown ul { background: #f8f9fa; }
/* .nav-dropdown:after { position: absolute; top: 10px; right: 10px; display: block; content:"a"; } */
.nav-dropdown { position: relative; }
/* END ASIDE NAVIGATION */

.main { margin: 64px 0px 0px 260px; padding: 15px; -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.poweredbySection{width: 60%; margin:0 auto;}
.poweredBy { position: relative; top: 100%; justify-content: center; align-items: center; width: "100vh"}

.card-box { background: #fff; width: 100%; padding: 20px; position: relative; margin-bottom: 30px; border-radius: 2px; -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); }
.card-box .card-title { font-size: 20px; margin-bottom: 20px; text-transform: capitalize; }
.font-500 { font-weight: 500; }
.badge-block { display: block !important; }
.naveen{color: #000;text-decoration: none;}
.naveen:hover{color: #000;text-decoration: none;}
a.naveen { display: block; }
.aside .aside-inner .sidebar ul li a.active{
    color: #fff;
    background: #3f51b5;
    padding: 12px 15px;
}
.react-datepicker-wrapper {
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
    width: 100%;
    padding: 3px;
}
.react-datepicker__input-container{
    border: 1px solid #fff!important;
}
.rc-time-picker-input{
    height: 40px!important;
    font-size: 16px!important;
}
.rc-time-picker {
   width: 100%!important;
}
.react-datepicker__input-container input[type=text]{
    border:none;
    padding: 3px;
}
.react-datepicker__input-container input[type=text]:hover{
    border:none;
}

.striped_border{width: 80px;height: 80px;background: #fff!important;border: 1px dashed #a6a6a6;position: absolute;margin: 9px;}
.padded{padding: 28px;}
.plus{width: 100px;height: 100px;border: 1px solid #a6a6a6;position: relative;}
.fa{margin-right: 10px;}
.panel1 {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;;
   
   width: 100%;
}
.panel-heading1 {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    border-bottom: 0px;
    /* box-shadow: 0px 2px 2px 0px #ddd; */
   
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.panel-primary {
    border-color: rgba(0, 0, 0, 0.1);
}
.panel-body {
    padding: 15px;
}
.card-box { background: #fff; width: 100%; padding: 20px; position: relative; margin-bottom: 30px; border-radius: 8px; -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); }
.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}
.striped_border{width: 80px;height: 80px;background: #fff!important;border: 1px dashed #a6a6a6;position: absolute;margin: 9px;}
.plus{width: 100px;height: 100px;border: 1px solid #a6a6a6;position: relative;}
.padded{padding: 28px;}
.badge-circle { display: block !important; width:30px;height: 30px; border-radius: 50%!important;float: left;margin-right: 5px;}
.padd{padding: 3px;}
.form .formgroup {
    margin-top: 10px;
    margin-bottom: 6px;
}
.head-styling{
    font-weight: 600;
    color: #333; 
    text-transform:capitalize;
    font-size: 18px;
 }
 .box {
    position: relative;
    border-top: 0;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    font-size: 13px;
    padding: 0px;
    transition: .5s;
    display: flex;
    flex-direction: column;
    border: 1px solid #dce3e6;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
.box-body1 {
    padding: 7px;
   flex: 1 1 auto;
}
.bg-dager {
    background-color: #ff6666 !important;
    color: #fff;
}
.bg-sucess {
    background-color:#99ccff !important;
    color: #fff;
}
.text-center {
    text-align: center !important;
}
.font-size-60 {
    font-size: 50px !important;
    line-height: 1.2;
}
.text-white {
    color: #fff !important;
}
.bg-gray-light {
    background-color: #f7f7f7;
}
.text-dark {
    color: #465161 !important;
    font-size: 22px;
}
.progress-xxs {
    height: 3px;
}
.progress{
    box-shadow:none;
    overflow: hidden;
    background-color: none!important;
    height: 3px!important;
}
.progress-bar{width: 100%; height: 3px;}



